{% block nuonic_plugin_installer_index %}
    <sw-page hide-icon>
        <template #search-bar>
            <sw-search-bar initial-search-type="nuonic_available_opensource_plugin" :placeholder="$tc('nuonic-plugin-installer.extension.listing.placeholderSearchBar')" @search="onSearch" />
        </template>
        <template #smart-bar-header>
            <h2>
                {{ $tc('nuonic-plugin-installer.list.title') }}
            </h2>
        </template>
        <template #content>
            <div class="nuonic-plugin-installer-index">
                <sw-skeleton v-if="isLoading" :variant="skeletonVariant" />
                <div v-else class="nuonic-plugin-installer-index__listing-grid">
                    <template v-if="total > 0">
                        <template v-for="entry in availablePlugins" :key="entry.id">
                            <component :is="'nuonic-extension-card'" :extension="entry" />
                        </template>
                        <sw-pagination :total="total" :limit="limit" :page="page" @page-change="changePage" />
                    </template>
                    <template v-else>
                        <sw-empty-state :title="$tc('nuonic-plugin-installer.list.emptyState.title')" :subline="$tc('nuonic-plugin-installer.list.emptyState.subline')" :icon="'regular-exclamation-triangle'" color="#ff8f00" class="nuonic-plugin-installer-index__empty-state" />
                    </template>
                </div>
            </div>
        </template>
    </sw-page>
{% endblock %}
