<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Basic configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field type="text">
            <name>packageSource</name>
            <label>Package source URL</label>
            <label lang="de-DE">URL der Paketquelle</label>
            <placeholder>https://raw.githubusercontent.com/....</placeholder>
            <defaultValue>https://plugin-data.nuonic.dev/shopware_extensions_v1.json</defaultValue>
            <required>true</required>
            <helpText>The plugin will load it's package index from the given package source url</helpText>
            <helpText lang="de-DE">Das Plugin wird seinen Paketindex von der angegebenen Paketquelle laden</helpText>
        </input-field>
    </card>
</config>
